<h1>Bandas</h1>
{{#if bands}}
{{#each bands}}
<h1>Nombre:{{bandname}}</h1>
<h1>Ciudad:{{location}}</h1>
<h1>Generos musicales:{{musicalGenres}}</h1>
<a href="/bandas/profile/{{_id}}">Ver perfil banda</a>
{{/each}}
{{else}}
<p>Ups! Todavía no hay ninguna banda :(</p>
{{/if}}