<app-band>
    <div class="wrap">
        {{#if bands}}
        {{#each bands}}
        <div class="band">
            <div class="band-section">
                <div class="image-section">
                    <p>Image</p>
                </div>
                <div class="band-info">
                    <h2>{{bandname}}</h2>
                    <p>Live in {{location}}</p>
                    <p>Style: {{musicalGenres}}</p>
                    <button class="button"><a href="/bandas/profile/{{_id}}">Band Profile</a></button>
                </div> 
            </div>

        </div>
        {{/each}}
        {{else}}
        <span>Ups!!! There is no band yet :(</span>
        {{/if}}
    </div>
    {{> backButton}}
</app-band>