<app-profile>
    <div class="wrap">
        {{#if noBand}}
        <p>{{noBand}}</p>
        {{else}}
        <h1>{{band.bandname}}</h1>
        <p>Ciudad: {{band.location}}</p>
        <p>Generos musicales: {{band.musicalGenres}}</p>
        <p>Members:
            {{#each band.members}}
            <a href="/profile/{{this._id}}"> {{this.nickname}}</a>

            {{/each}}
        </p>
        {{#if isMe}}
        <button><a href="/bandas/{{band._id}}/update/">Actualizar Banda</a></button>
        <div class="danger">
            <button class="danger"><a href="/bandas/{{band._id}}/delete">Eliminar Banda</a></button>
        </div>
        {{/if}}
        {{#if ifBand}}
        <div class="danger"></div>
            <button class="danger"><a href="/bandas/{{band._id}}/{{currentUser._id}}/leave" class="danger">Salir de la Banda</a></button>
        </div>
        {{else}}
        <button><a href="/bandas/{{band._id}}/{{currentUser._id}}">Unirse a la Banda</a></button>
        {{/if}}
        {{/if}}

    </div>

</app-profile>