<h1>Perfil de la banda {{band.bandname}}</h1>
<h1>Nombre:{{band.bandname}}</h1>
<h1>Ciudad:{{band.location}}</h1>
<h1>Generos musicales:{{band.musicalGenres}}</h1>

<a href="/bandas/{{band._id}}/update/">Actualizar Banda</a>
<a href="/bandas/{{band._id}}/delete">Eliminar Banda</a>