{{> menu}}
<h1>Update Band</h1>
<form class='box' action="/bandas/{{band._id}}/update_band" method="POST">
  <input type="text" name="name" id="name" value="{{band.bandname}}">
  <select name="location" value="{{band.location}}">
    <option value="Barcelona">Barcelona</option>
    <option value="Madrid">Madrid</option>
  </select>
  <select name="musicalGenres" value="{{band.musicalGenres}}">
    {{> musicStyles}}
  </select>
  <select name="petitions" value="{{band.requests}}">
    <option value="Abiertas">Aceptamos miembros!</option>
    <option value="Cerradas">Ya estamos completos!</option>
  </select>
  <input type="submit" value="Actualizar banda" />
</form>
{{> backButton}}