{{> menu}}
<app-profile>
  <div class="wrap">
    <div class="band-profile">
      <div class="card">
          {{#if noBand}}
              <p>{{noBand}}</p>
          {{else}}
              <img class="profile-img" src="/images/mexican-music.jpeg" alt="mexican-music">
              <h1 style="margin-top: 40px;">{{band.bandname}}</h1>
              <p>Ciudad: {{band.location}}</p>
              <p>Generos musicales: {{band.musicalGenres}}</p>
      </div>
     <div class="card-members"> 
      <h2>Members</h2>
      {{#each band.members}}
        <a class="users" href="/profile/{{this._id}}">{{this.nickname}}</a>
      {{/each}}
    </div>
  </div>
  <div class="action-profile">
      <div class="user-actions">
          <h2>Actions</h2>
          <div class="arrow-user">
              <button type="button" class="close-menu" style="visibility: hidden">X</button>
          </div>
          <div class="dropdown">
                {{#if isMe}}
                    <button class="button-profile"><a href="/bandas/{{band._id}}/update/">Actualizar Banda</a></button>
                    <button class="button-profile"><a href="/events/new/{{band._id}}/">Añadir Evento</a></button>
                    <button class="danger"><a href="/bandas/{{band._id}}/delete">Eliminar Banda</a></button>
                    <button class="button-profile"><a href="/bandas/petitionc/{{band._id}}/check/">Revisar Peticiones</a></button>
                {{/if}}
                {{#if ifBand}}
                    <button class="button-profile"><a href="/chat/{{band.id}}/{{currentUser.nickname}}/{{band.bandname}}">Chat</a></button>
                    <button class="danger"><a href="/bandas/{{band._id}}/{{currentUser._id}}/leave" class="danger">Salir de la Banda</a></button>
                {{else}}
                {{#if ifPetition}}
                    <button class="button-profile"><a href="">Tu petición está siendo valorada por la banda.</a></button>
                {{else}}
                {{#if ifOpenRequest}}
                    <button class="button-profile"><a href="/bandas/petition/{{band._id}}/{{currentUser._id}}">Enviar peticion a la Banda</a></button>
                {{else}}
                    <p>Las peticiones están cerradas</p>
                {{/if}}
                {{/if}}
                {{/if}}
          </div>
        </div>
    </div>

    </p>
    {{#if event}}
    <h1>Next Events:</h1>
    {{#each event}}
    <h3>{{event_name}}</h3>
    <p>Location: {{location}}</p>
    <p>Date: {{date}}</p>
    <button><a href="/events/detail/{{_id}}">Ver en detalle</a></button>
    {{/each}}
    {{else}}
    <h1>Next Events:</h1>
    <p>Esta banda todavía no tiene ningún evento.</p>
    {{/if}}
  {{/if}}
  </div>
</app-profile>