{{> menu}}
{{#if ifBandMember}}
<h1>Chat de la banda </h1>
<p id="band" style="visibility: hidden">{{band.bandname}}</p>
<p id="username">{{currentUser}}</p>
<div id="messages">
  {{!-- {{#each messages}} --}}
  {{!-- {{isUser currentUser username}} --}}
  {{!-- <p class="user"> --}}
  {{!-- {{username}}{{! {{message}} --}}
  {{!-- </p> --}}
  {{!-- {{/each}} --}}
</div>
<p id="typingu"></p>
<form class='box' id="scroll">
  <input id="text" type="text" autocomplete="off" />
  <input type="submit" value="Enviar mensaje" />
  <script src="/javascripts/chat.js" charset="utf-8"></script>
</form>
{{else}}
<p>Solo los miembros de la banda pueden acceder al chat! Go back!</p>
{{/if}}
{{> backButton}}