{{> menu}}
{{#if ifBandMember}}
<h1>Chat de la banda </h1>
<p id="band" style="visibility: hidden">{{band.bandname}}</p>
<p id="username">{{currentUser}}</p>
<div id="messages" style=" height: 300px; overflow: hidden; overflow-y: scroll;">
  {{#each messages}}
  {{#if (isUser  username ../currentUser)}}
  {{!-- {{isUser  username ../currentUser}}  --}}
  <p class="user">
    {{username}}: {{message}}
  </p>
  {{else}}
  <p class="other-user">
    {{username}}: {{message}}
  </p>
  {{/if}}
  {{/each}}
</div>
<p id="typingu"></p>
<form class='box' id="scroll">
  <input id="text" type="text" autocomplete="off" />
  <input type="submit" value="Enviar mensaje" />
  <script src="/javascripts/chat.js" charset="utf-8"></script>
</form>
{{else}}
<p>Solo los miembros de la banda pueden acceder al chat! Go back!</p>
{{/if}}
{{> backButton}}