{{> menu}}
{{#if eventToView }}
<h1>{{eventToView.event_name}}</h1>
<p>Location: {{eventToView.location}}</p>
<p>Date: {{eventToView.date}}</p>
<p>Banda: {{eventToView.event_manager.bandname}} </p>
<p>Total Recommendations: {{result}}</p>
{{#if isMe}}
<button><a href="/events/delete/{{eventToView._id}}">Eliminar Evento</a></button>
<button><a href="/events/update/{{eventToView._id}}">Actualizar Evento</a></button>
{{/if}}
{{#if ifRecommended}}
<button><a href="/events/norecommend/{{eventToView._id}}">Dejar de Recomendar</a></button>
{{else}}
<button><a href="/events/recommend/{{eventToView._id}}">Recomendar</a></button>
{{/if}}
{{#if ifuserWillAssist}}
<button><a href="/events/leave/{{eventToView._id}}">Ya no asistiré</a></button {{else}} <button><a
  href="/events/join/{{eventToView._id}}">Asistiré</a></button>
{{/if}}
{{else}}
<p>Este evento aún no existe o ha sido eliminado</p>
{{/if}}
{{> backButton}}