<h1>User Profile</h1>
<p>Nombre: {{ user.email }}</p>
<p>Nickname: {{user.nickname}}</p>
<p>Created At: {{ user.created_at }}</p>
{{#if isMe }}
<a href="/profile/update/{{user._id}}">Actualizar datos</a>
{{/if}}
<h2>Mis bandas:</h2>
{{#each band}}

<p>Nombre de la banda: {{bandname}}</p>
<p>Genero musical: {{musicalGenres}}</p>
<a href="/bandas/profile/{{_id}}">Ver perfil banda</a>
{{/each}}