{{> menu}}
<app-userProfile>
      <div class="wrap">
            <div class="card">
                <img class="profile-img" src="/images/avatar-4.png" alt="mexican-music">
                <h2 style="margin-top: 30px">{{userProfile.nickname}}</h2>
                <p class="title">{{ userProfile.email }}</p>
                <p class="title"><span></span> {{ userProfile.loc }}</p>
                <p class="title"><span>Joined on</span> {{ userProfile.created_at }}</p>
                {{#if isMe }}
                    <button class="button-profile"><a href="/notifications/{{user._id}}/all">Notificaciones {{#if notificationsCount}} ({{notificationsCount}}){{/if}}</a></button>
                {{/if}}
            </div>
            <div class="action-profile">
                <div class="user-actions">
                    <h2>Actions</h2>
                    <div class="arrow-user"></div>
                    <button type="button" class="close-menu" style="visibility: hidden">X</button>
                </div>
                    <div class="dropdown">
                        {{#if isMe }}
                             <button class="button-profile"><a href="/profile/update/{{currentUser.nickname}}">Update profile</a></button>
                             <button class="button-profile"><a href="/messages/{{currentUser.nickname}}/all">Ver mensajes</a></button>
                             <button class="button-profile"><a href="/events/{{currentUser.nickname}}/recommendations">Ver Recomendaciones</a></button>
                             <button class="button-profile"><a href="/events/{{currentUser.nickname}}/event">Eventos que asistiré</a></button>
                        {{else}}
                             <button class="button-profile"><a href="/events/{{userProfile.nickname}}/recommendations">Ver Recomendaciones</a></button>
                             <button class="button-profile"><a href="/messages/send/{{userProfile.nickname}}">Enviar mensaje</a></button>
                        {{/if}}
                    </div>
            </div>
            <div class="action-profile-bands">
                <div class="user-bands">
                    <h2>My Bands</h2>
                    <div class="arrow-band"></div>
                    <button type="button" class="close-menu-bands" style="visibility: hidden">X</button>
                </div>
                <div class="dropdown-band">
                {{#if band}}
                    {{#each band}}
                    <p>{{bandname}}</p>
                    <span>Musical style: {{musicalGenres}}</span> <br><br>
                    <button class="button-profile"><a href="/bandas/profile/{{_id}}">Band Profile</a></button>
                    {{/each}}
                {{else}}
                    <p>Este usuario no esta añadido a ninguna banda todavía.</p>
                {{/if}}
                </div>
            </div>
        </div>
<script>
$('.arrow-user').click(function(){
        $('.dropdown').css({
             "visibility": "visible",
             "opacity": "1",
             "display": "block", 
        });
        $(".close-menu").css({"visibility": "visible"})
        $(".arrow-user").css({"visibility": "hidden"})
});
$('.close-menu').click(function(){
        $('.dropdown').css({
            "visibility": "hidden",
             "opacity": "0",
             "display": "none", 
        });
        $(".close-menu").css({"visibility": "hidden"})
        $(".arrow-user").css({"visibility": "visible"})
});
$('.arrow-band').click(function(){
        $('.dropdown-band').css({
             "visibility": "visible",
             "opacity": "1",
             "display": "block", 
        });
        $(".close-menu-bands").css({"visibility": "visible"})
        $(".arrow-band").css({"visibility": "hidden"})
});
$('.close-menu-bands').click(function(){
        $('.dropdown-band').css({
            "visibility": "hidden",
             "opacity": "0",
             "display": "none", 
        });
        $(".close-menu-bands").css({"visibility": "hidden"})
        $(".arrow-band").css({"visibility": "visible"})
});

</script>
</app-userProfile>