<div class="wrap">
    <div class="card">
        <h1>User Profile Card</h1>
        <img src="/images/mexican-music.jpeg" alt="mexican-music">
        <h2>{{user.nickname}}</h2>
        <span>quiere unirse a una banda</span>
        <p class="title">{{ user.email }}</p>
        <p class="title"><span>Joined on</span> {{ user.created_at }}</p>
    </div>
    <div class="band">
        {{#if isMe }}
       <button><a href="/profile/update/{{user._id}}">Update profile</a></button>
        <button><a href="/messages/{{user._id}}/all">Ver mensajes</a></button>
        
        {{else}}
        <a href="/messages/send/{{user._id}}">Enviar mensaje</a>
        {{/if}}
        <h2>My bands</h2>
        {{#each band}}

        <p>{{bandname}}</p>
        <span>Musical style: {{musicalGenres}}</span> <br><br>
        <button><a href="/bandas/profile/{{_id}}">Band Profile</a></button>
        {{/each}}
    </div>
</div>